
.contact-section {
    color: white;
    background-color: #5267df;
    margin: 0 auto;
    width: 100%;

    h2 {
       color: white;
    }

    input {
        border: none;
        font-family: $font-primary;
        color: $color-grey;
        font-size: 1.1rem;
        line-height: 1.6;
        margin: 0.5rem auto;
        padding: 0.5rem 1rem;
        padding-right: 5rem;
        border-radius: 7%; 
        text-align: left; 
    }

    button {
        margin: 0.5rem auto;
        margin-left: 2rem;
    }


}

// MEDIA QUERIES


@media (min-width: 1024px) {

    .contact-container{
        max-width: 50%;
        }
}
