
footer {
    background-color: $color-dark-blue;
    
    li {
        list-style: none;
   
        a {
            text-decoration: none;
            color: white;
            font-size: 0.9rem;
        }
    }

    img {
        padding: 1rem ;
    }

    .footer-image {
        width: 170px;
    }


}





