
footer {
    background-color: var(--color-black);
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    
    
}

footer li {
    list-style: none;
    margin: 0.5rem auto;
    padding: 0.5rem;
}
footer li a{
    text-decoration: none;
    color: white;
    margin: 0.5rem auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    
}

footer img {
    padding: 1rem ;
}
.footer-image {
    width: 170px;
}


// MEDIA QUERIES

@media (min-width: 1024px) {

.footer-container {
    width: min(90%, 1200px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.footer-item {
    margin: 2rem auto;
    padding: 0 1rem;
    
}

}