
    .hero-image-container {
    
        

        .hero-blue-shape {  
            position: absolute; 
            background-color: $color-blue;
            width: 85%; 
            height: 85%; 
            max-height: 400px;
            bottom: 0; 
            right: 0; 
            transform: translateX(20%);
            
            border-radius: 100px 0 0 100px;

            z-index: 1; 
        }

        .hero-image {
            position: relative;
            z-index: 2; 
            max-width: 100%;
            height: auto;
            
        }
    }







