body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.button-primary {
    border: none ;
    border-radius: 7%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 1rem;
}

/* Variables */

:root {
    --color-black: #252C4D;
    --color-grey:  #A2A2A6;
    --color-blue: #5267df;
    
}

/* Main */

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Barra navegacion */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    
}

.navbar-links {
    display: flex;
    gap: 27px;
    list-style: none;
    
}

.navbar-links li a {
    font-size: 0.8rem;
    color: var(--color-black);
    text-decoration: none;
    padding: 1rem 1rem;
}

.navbar-links li a:hover {
    color: tomato;
}

#nav-button-login a {
    color: white;
    background-color: tomato;
    padding: 1rem 2.2rem;
}

#nav-button-login a:hover {
    color: tomato;
    background-color: white;
    border: 2px solid tomato;
}

/* Hero Section */

.hero-section {
    margin-right: 0;
    display: flex;
    padding: 2rem;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
}

.hero-text-container h1 {
    color: var(--color-black);
    font-size: 3rem;
}

.hero-text-container p {
    color: var(--color-grey);
    font-size: 18px;
}

.hero-links {
    display: flex;
    gap: 27px;
    list-style: none;
}

.blue-button {
    background-color: var(--color-blue);
    color: white;
}

.white-button {
    background-color: #f0f1f4c6;
    color: var(--color-black);
}







/* --Hero Image */

.hero-image-container {
    height: 400px;
    width: 600px;
}

.hero-blue-shape {
    position: absolute; /* Allows for precise positioning */
    background-color: var(--color-blue);
    width: 650px; /* Adjust the size as needed */
    height: 400px; /* Adjust the size as needed */
    bottom: -100px; /* Moves the shape down */
    right: 0; /* Aligns the shape to the right */
    
    
    border-top-left-radius: 250px; 
    border-bottom-left-radius: 250px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    z-index: -1; 
}

.hero-image {
    position: relative;
    z-index: 1; 
    
}