
/* RESET
*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}
*/

/*  BASE
html {
    font-size: 62,5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    margin: 0 auto;
}
    */

/* BUTTON

.button-primary {
    border: none ;
    border-radius: 7%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    font-size: 0.9rem;
   
    text-decoration: none;
    padding: 1rem;
}

*/

/* TYPOGRAPHY 


h2 {
    color: var(--color-black);
    font-size: clamp(1.6rem, 0.765vw + 1.85rem, 2rem);
    margin: 0.5rem auto;
    padding: 0.5rem;
}

p {
    color: var(--color-grey);
    font-size: 1.1rem;
    font-size: clamp(1rem, 0.5rem + 1vw, 1.1rem);
    line-height: 1.6;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

img { 
    max-width: 100%;
    height: auto;
}
*/


/* Variables */

/* VARIABLES 

:root {
    --color-black: #252C4D;
    --color-grey:  #A2A2A6;
    --color-blue: #5267df;
    
}
*/

/* Main */

/* MAIN-CONTAINER

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
} */

/* Barra navegacion */

/* NAV

.navbar {
   width: min(90%, 1200px);
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;

   --icon-toggle-menu: url("./starter-code/images/icon-hamburger.svg");
   --transform-menu-show: translate(-100%);

}

.navbar:has(.nav-input:checked){
    --icon-toggle-menu: url("./starter-code/images/icon-close.svg");
    --transform-menu-show: translate(0);
}

.navbar-brand, .nav-toggle {
    z-index: 10;
}

.nav-input {
    display: none;
}

.nav-input {
    width: 40px;
    height: 40px;
}

.navbar-links {
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;

    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;

    padding: 1.5rem 5%;
    background-color: #1e1e31cd;
    list-style: none;

    transition: .5s transform;

    z-index: 3;
    
}

.nav-link {
    color: white;
    text-decoration: none;
}



.nav-toggle {
    
    width: 30px;
    height: 30px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: background-image .5s;
}


.navbar-links li a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
}

.navbar-links li a:hover {
    color: tomato;
} */

/* BUTTONS
.red-button {
    color: white;
    background-color: tomato;
    padding: 1rem 2.2rem;
    
}

#nav-button-login {
    color: white;
    background-color: none;
    padding: 1rem 2.2rem;
    border: 1px solid white;
}

#nav-button-login a:hover {
    color: tomato;
    background-color: white;
    border: 2px solid tomato;
}

*/


/* Hero Section */

/* HERO

.hero-section {
    margin-right: 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    max-width: 470px; 
    margin: 0 auto;
}

.hero-text-container h1 {
    color: var(--color-black);
    font-size: clamp(2.1rem, 0.765vw + 1.85rem, 3rem);
    margin: 3rem 0;
}

.hero-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
} */

/* BUTTONS

.blue-button {
    background-color: var(--color-blue);
    color: white;
    
}

.white-button {
    background-color: #f0f1f4c6;
    color: var(--color-black);
    
}

/* Hover botones Blue & White */
/*  
.blue-button:hover {
    color: var(--color-blue);
    background-color: white;
    border: 2px solid var(--color-blue);
}

.white-button:hover {
    color: var(--color-black);
    background-color: white;
    border: 2px solid var(--color-black);
}

*/


/* --Hero Image */

/* HERO

.hero-image-container {
    
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.hero-blue-shape {
    position: absolute; 
    background-color: var(--color-blue);
    width: 85%; 
    height: 85%; 
    max-height: 400px;
    bottom: 0; 
    right: 0; 
    transform: translateX(20%);
    
    border-radius: 100px 0 0 100px;

    z-index: 1; 
}

.hero-image {
    position: relative;
    z-index: 2; 
    max-width: 100%;
    height: auto;
    
} */

/* Secondary section centrada */

/* SECONDARY SECTION
.secondary-section {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    margin: 2rem auto;
}

.secondary-text-container {
    max-width: 500px; 
    margin: 1rem auto; 
    text-align: center; 
} */

/* Features Section */


/*  TABSS

.features-text-container {
    border-bottom: 1px solid #a2a2a6c2;
}

.tab-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 470px; Limita el ancho del párrafo
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
}

.tablinks {
    border: none;
    background-color: white;
    color: var(--color-grey);
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 1rem;
}
  
  
  .tablinks {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 1rem 1rem;
    transition: 0.3s;
    border-bottom:  1px solid #a2a2a6c2;
    width: 100%;
    max-width: 500px; 
  }
  
  
  .tablinks:hover {
    color: tomato;
  }
  
  
  .tablinks.active {
    border-bottom: 2px solid tomato;
    color: var(--color-black);
    
  }
  
 

  .tab-text-container {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }

  .tab-link-container {

    align-items: center;
    margin-top: 2rem;
    text-align: center;
  }

   */

  /* Browser section */

/* BROWSER

.browser-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem; 
    margin-top: 3rem;
}

/* El CSS para .browser-box ya está bien para su contenido interno */
/*  
.browser-box {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    max-width: 250px; 
    padding: 0.6em 0.8em; 
    border-radius: 7%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    
    text-align: center;
}

.browser-image {
    max-width: 90%; 
    margin-bottom: 1rem;
}

.dots-image {
    max-width: 70%;
    margin-bottom: 0.7rem;
}

.browser-box p {
    margin-top: 0;
    font-size: 0.9rem;
  }

  .browser-link-container {
    margin: 2rem auto;
}


*/


/* FAQ Section */

/* FAQ

details {
    padding: 0.5rem; 
    border-bottom: 1px solid #a2a2a693;
    width: 100%;
    margin: 0 auto;
    
  }
summary {
    color: var(--color-black);
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0.5rem;
    list-style: none; 
    position: relative;
    cursor: pointer;
    padding-right: 2rem;
}

summary::marker {
    content: ''; 
}
summary::-webkit-details-marker {
    display: none; 
}

summary::after {
    content: url(./starter-code/images/icon-arrow.svg);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

details[open] > summary::after{
    content: url(./starter-code/images/icon-arrow-red.svg);
    transform: rotate(180deg);
    
}

.faq-list-container {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
 */


/* Contact Section */

/* CONTACT

.contact-section {
    color: white;
    background-color: #5267df;
    margin: 0 auto;
    width: 100%;
}

.contact-section h2 {
    color: white;
    
}

.contact-section input {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-grey);
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 7%;
    
}

.contact-section button {
    margin: 0.5rem auto;
} */

/* Footer */

/* FOOTER

footer {
    background-color: var(--color-black);
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    
    
}

footer li {
    list-style: none;
    margin: 0.5rem auto;
    padding: 0.5rem;
}
footer li a{
    text-decoration: none;
    color: white;
    margin: 0.5rem auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    
}

footer img {
    padding: 1rem ;
}
.footer-image {
    width: 170px;
} */








/* Media queries */

/* Max-width 1000px */

/* FAQ 

@media (min-width: 768px) {

    


    .faq-section {
        max-width: 50%;
        }
}

*/

  
/* @media (min-width: 1024px) { */

    /* NAV
    .navbar{
        --transform-menu-show: translate(0);
    }
    .nav-toggle{
        display: none;
    }
    .navbar-links{
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;
        
        transition: unset;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        
        
    }
    
    .navbar-links {
        display: flex;
        gap: 2.7rem;
        list-style: none;
        background-color: white;
        align-items: center; 
    }
    
    .navbar-links li a {
        font-size: 0.8rem;
        color: var(--color-black);
        text-decoration: none;
        padding: 0.5rem 1rem;
    }
    
    .navbar-links li a:hover {
        color: tomato;
    }
    */


/*  BUTTON

    .red-button {
        color: white;
        background-color: tomato;
        padding: 1rem 2.2rem;

    }

    .button-login {
        color: white;
        background-color: tomato;
        padding: 1rem 2.2rem;
    }

    #nav-button-login a:hover {
        color: tomato;
        background-color: white;
        border: 2px solid tomato;
    }    
     */
    

/*     HERO

    .hero-section {
        display: flex;
        flex-direction: row;
        
        margin: 3.5rem auto;
    }

    .hero-text-container {
        display: flex;
        flex-direction: column;
        max-width: 470px; 
        margin: 0 auto;
        text-align: left;
        
    }

    .hero-text-container p {
        padding-left: 0%;
    }

    .hero-links {
        display: flex;     
        justify-content: flex-start;
        
        } */

    
    
/* FEATURES 

    .features-text-container {
        border: none;
    } */


/*   TABS  

    .tab-features-section {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap; 
        border-bottom: 1px solid #a2a2a6c2; 
        margin: 2rem auto 3rem auto; 
        width: 100%;
        max-width: 700px; 
    }

    .tab-text-container {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        
        max-width: 470px; 
        text-align: left;
        margin: 0 auto;
        

    }


    .tablinks {

        border: none;
        background-color: white;
        color: var(--color-grey);
        font-size: 1.1rem;
        line-height: 1.6px;
        margin: 0 auto;
        padding: 2rem;
        
        }




.tab-content-show {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
    }
    
.tab-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    }

.tab-text-container h2 {
    margin-left: 0;
}
    
.tab-link-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    
    } */



/* FAQ

.faq-section {
    max-width: 50%;
    } */



/* CONTACT 

.contact-container{
    max-width: 50%;
    }
 */



/* FOOTER

.footer-container {
    width: min(90%, 1200px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.footer-item {
    margin: 2rem auto;
    padding: 0 1rem;
    
} */


/* } */







