// .browser-box, etc.


.card.browser-box {
    
    max-width: 250px; 
    
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: none;
    

    .card-text {
        margin-top: 0;
        font-size: 0.9rem;
    }
}

.browser-image {
    max-width: 90%; 
    margin-bottom: 1rem;
}

.dots-image {
    max-width: 70%;
    margin-bottom: 0.7rem;
}


 
