// .button-primary, .blue-button, etc.

.btn-primary,
.btn-danger {
   
    transition: all 0.3s ease-in-out;
    border-width: 2px; 

    &:hover {
        
        background-color: transparent !important;
        border-width: 2px; 
    }
}


.btn-primary:hover {
    color: $primary !important; 
    border-color: $primary; 
}


.btn-danger:hover {
    color: $danger !important; 
    border-color: $danger; 
}

// BURGER NAV

#nav-button-login {
    color: white;
    background-color: transparent;
    padding: 1rem 2.2rem;
    border: 1px solid white;

    &:hover {
        color: tomato;
        border: 2px solid tomato;
    }
}


// MEDIA QUERIES

@media (min-width: 1024px) {


    .red-button,
    .button-login,
    #nav-button-login { 
        padding: 1rem 2.2rem;
    }

    #nav-button-login { 
        @include button-base;
        @include button-color (tomato, white, tomato);
    }
}


// <li class="nav-item " id="nav-button-login">
//      <a class="nav-link button-primary button-login" aria-label="Login" href="#">LOGIN</a>
//  </li>