// .button-primary, .blue-button, etc.

// okk

.btn-primary,
.btn-danger,
.btn-light {
   
    transition: 0.3s;
   
    

    &:hover {
        
        background-color: white;
        border-width: 2px; 
    }
}

.btn-danger {
    color: white;
}

.btn-primary:hover {
    color: $primary; 
    border-color: $primary; 
}


.btn-danger:hover {
    color: $danger; 
    border-color: $danger; 
}

.btn-light:hover  {
    color: $secondary ; 
    border-color: $secondary; 
}

// BURGER NAV

.nav__login-btn {
    color: white;
    background-color: $color-red;
    padding: 1rem 2.2rem;
    border: 1px solid white;

    &:hover {
        color: $danger;
        border: 2px solid $danger ;
    }
}



    


