// .button-primary, .blue-button, etc.

.btn-primary,
.btn-danger {
   
    transition: 0.3s;
    border-width: 2px; 
    

    &:hover {
        
        background-color: white !important;
        border-width: 2px; 
    }
}

.btn-danger {
    color: white !important;
}


.btn-primary:hover {
    color: $primary !important; 
    border-color: $primary !important; 
}


.btn-danger:hover {
    color: $danger !important; 
    border-color: $danger !important; 
}

.btn-white {
    color: $secondary !important; 
    border: 2px solid transparent; 
    background-color: $color-button-grey !important; 
    transition: 0.3s;
    
    &:hover {
        color: $secondary !important; 
        background-color: white !important; 
        border-color: $secondary !important; 
        
        border-style: solid !important;
        border-width: 2px !important;
    }
}

// BURGER NAV

#nav-button-login {
    color: white;
    background-color: transparent;
    padding: 1rem 2.2rem;
    border: 1px solid white;

    &:hover {
        color: tomato;
        border: 2px solid tomato;
    }
}



    


