
// Buttons mixins

@mixin button-base {
    border: none ;
    border-radius: 7%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem;
}

@mixin button-color ($background, $text-color, $hover-border-color: $background) {
    color: $text-color;
    background-color: $background;

    &:hover {
        color: $hover-border-color;
        background-color: white;
        border: 2px solid $hover-border-color;
    }
}