// Estilos de h1, p, etc.


h2 {
    color: $color-black;
    font-size: $font-size-h2;
    margin: 0.5rem auto;
    padding: 0.5rem;

}

p {
    color: $color-grey;
    font-size: $font-size-p;
    line-height: 1.6;
    margin: 0.5rem auto;
    padding: 0.5rem;
    
}

img { 
    max-width: 100%;
    height: auto;
}
